* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Segoe UI, monospace;
  background: white;
  color: #222;
}

/* .formlist {
    /* width: 90vw;
    max-width: 1170 px;
    margin: 2rem auto;
    display: grid;
    gap: 2rem;
  } */

@media only screen and (min-device-width: 768px) {
  .formlist {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .box_image img {
    /* width: 80vw;
      height: 50vh;
      overflow: hidden;
      display: block;
      padding: 0; */
    display: table-row;
  }
  .box_image {
    /* align-items: center; */
    display: table-row;
  }

  .box_form {
    /* display: block; */
    display: table-row;
    margin: auto;
  }

  .what {
    /* display: flex;
      flex-direction: column; */
    display: table;
    margin-left: 20px !important;
    margin-right: 20px !important;
    border-spacing: 0 15px !important;
    margin: 20px;
  }
}

.what {
  display: table;
  border-spacing: 15px 0;
  margin: 2rem auto;
  max-width: 1000px;
}

.box_form,
.box_image img {
  padding: 20px;
  float: none;
  vertical-align: middle;
  margin: auto;
}

.box_image img {
  border: 2px solid #cacaca;
  border-radius: 20px;
  padding: 2%;
  margin: auto;
  display: table-cell;
}

.box_form {
  /* border: solid 1px grey; */
  background-color: #f3f3f3;
  border-radius: px;
  margin-left: 3%;
  padding: 1% 1% 1% 1%;
  width: 100%;
  box-shadow: 0px 0px px;
  /* position: relative; */
  height: fit-content;
  display: table-cell;
}

.form h1 {
  margin-top: 0.5rem;
}

.form p {
  margin-top: 0.5rem;
}

.box_image img {
  height: 216px;
  width: 216px;
  object-fit: cover;
}

.form_head {
  display: flex;
}

.form_title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 27px;
  width: 100%;
  padding: 5px;
}

.form_team_name {
  background-color: #f3f3f3;
  white-space: nowrap;
  padding: 5px 10px;
  border: solid 1px grey;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: auto;
}
.form_desc {
  padding-top: 3%;
  justify-content: center;
  font-size: 16px;
}

.form_footer {
  display: flex;
  align-items: center;
  padding-top: 4%;
  margin-bottom: 4px;
  margin-right: 4px;
}
.form_deadline {
  width: 95%;
  font-size: 16px;
  font-weight: 600;
}
.primary {
  padding: 5px 15px 5px 15px;
  background-color: orange;
  border-radius: 20px;
  border: px solid black;
  font-weight: 600;
  white-space: nowrap;
}

.secondary {
  padding: 5px 15px 5px 15px;
  background-color: rgb(196, 196, 196);
  border-radius: 20px;
  border: 0px solid black;
  font-weight: 600;
  white-space: nowrap;
}

.form_footer a {
  text-decoration: none;
  color: black;
}

/*Search Component*/
.searchContainer {
  margin: 20px auto;
  text-align: center;
  display: block;
  width: auto;
}

.searchDropDown {
  height: 30px;
  border-radius: 15px;
  margin: 10px 15px;
  padding: 5px auto;
}

.searchDropDown select {
  padding: 5px !important;
}

input {
  border: none;
  width: auto;
}

input:hover,
.btn:hover {
  cursor: pointer;
}

.searchDropDown:focus {
  outline: none;
  /* box-shadow: 0 0 3pt 2pt #719ece; */
}

.btn {
  margin: 10px 7.5px;
}
