table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 15px;
  }

.about {
  color : green;
  border : 3px solid red;
  border-radius: 10%;
  border-spacing: none;
  width: fit-content;
  padding: 10px;
}