/* Navbar component */
#homeTab{
  color: #29CCB7 !important;
}
.navbar-nav .nav-item .nav-link{
  color: #282828;
  font-weight: 600;
}
#dvNAvMenu{
  margin-right: 1.5rem;
  margin-left: auto;
}
/* Home component */
.row{
  margin-top: 5px;
  overflow-x: hidden !important;
}
#mainHomeDiv{
padding-left: 60px;
}
.headings-container h1{
  color: #282828;
  font: normal normal 900 100px/90px Segoe UI;
  text-shadow: 5px 5px 2px rgba(41,204,183,0.4);
}
#mainHomeDiv p{
  margin-top: 30px;
  font-family: Segoe UI;
  margin-bottom: 0;
}
.mybtn{
color: #fff;
background: #2BC9B3 0% 0% no-repeat padding-box;
border-radius:30px;
display: inline-block;
font: normal normal bold 1.25rem/45px Segoe UI;
text-align: center;
vertical-align: middle;
user-select: none;
border: 1px solid transparent;
padding: .5rem 1rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.mybtn:hover{ 
color: #fff;
background-color: #23b39f;
text-decoration: none;
}
.mybtn:focus{ 
  box-shadow: 0 0 0 .2rem #29CCB73D;
  outline: 0;
}
.right-graphics-position{
  margin-right: 7rem !important;
  padding-right: 3rem !important;
}
.left-graphics-position{
  margin-left: 2rem !important;
  padding-left: 3rem !important;
}
.social-icons-container{
  position: absolute;
  bottom: 75px;
  right: 25px;
}
.icon-button{
  width: 43px;
  height: 43px;
  display: inline-block;
  text-align: center !important;
  border-radius: 4px;
  background-color: #FCDD4F;
  margin-right: 5px !important;
}
.icon-button .fab{
  color: #000000;
  vertical-align: middle;
  font-size: 32px;
  opacity: 1;
  padding-top: .35rem !important;
}
#last-social-icon{
  margin-right: 70px !important;
}
/* Event component */
#dvEvents h1{
  text-align: right;
  font: normal normal 900 50px/60px Segoe UI;

}
.row{
  overflow: auto;
  padding: 22px;
}
/* Project component */
#dvProject h1{
  text-align: left;
  font: normal normal 900 50px/60px Segoe UI;
}
#project-text-coloum{
  margin-top: 40px;
  padding-top: 20px;
  padding-left: 90px;
}
#projectimage{
  margin-left: 3rem ;
}
/* Blog component */
#dvBlog h1{
  text-align: right;
  font: normal normal 900 50px/60px Segoe UI;
}
#blogImage{
  margin-left: 3rem;
}
/* footer component */

footer{
  background-color: #ECECEC;
}

/*making all homepage components responsive */
@media (max-width: 540px) { 
  #mainHomeDiv{
    padding-left: 0;
    }
  .headings-container{
    padding-left: 30px;  
  }
  .headings-container h1{
    font: normal normal 900 60px/50px Segoe UI;
  }
  .right-graphics-position {
    margin-right: 3rem !important;
    padding-right: 3rem !important;
  }
  .left-graphics-position {
    margin-left: 0rem !important;
  }
  #project-text-coloum{
    padding-left: 40px !important;
  }
  #projectimage{
    margin-left: 0rem !important;
  }
  #blogImage{
    margin-left: 0rem;
  }
  #dvNAvMenu{
    margin: auto;
    margin-top: 20px;
  }
  .social-icons-container{
    bottom: 5px;
    right: 0;
  }
 }